{{!-- TODO: interesting --}}
{{#if href}}
  <a href={{href}}
    class="docs-header-link {{class}}"
    style={{style}}
    data-test-id={{data-test-id}}>
    {{yield}}
  </a>

{{else if on-click}}
  <a {{action on-click}}
    href='#'
    class="docs-header-link"
    data-test-id={{data-test-id}}>
    {{yield}}
  </a>
{{else}}

  {{#link-to route
    class="docs-header-link"
    data-test-id=data-test-id
  }}
    {{yield}}
  {{/link-to}}

{{/if}}
